<ng-container [ngSwitch]="linkType">

  <ng-container *ngSwitchCase="'textLink'">
    <ng-container *ngTemplateOutlet="textLink"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'buttonLink'">
    <ng-container *ngTemplateOutlet="buttonLink"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'buttonLinkLogoBefore'">
    <ng-container *ngTemplateOutlet="buttonLinkLogoBefore"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'buttonLinkLogoAfter'">
    <ng-container *ngTemplateOutlet="buttonLinkLogoAfter"></ng-container>
  </ng-container>

</ng-container>


<ng-template #textLink>
  <a routerLink="{{linkData.routeLink}}" class="font-medium">{{ linkData.content }}</a>
</ng-template>

<ng-template #buttonLink>
  <a routerLink="{{linkData.routeLink}}"
     class="btn-primary font-bold">{{ linkData.content }}</a>
</ng-template>

<ng-template #buttonLinkLogoAfter>
  <a routerLink="{{linkData.routeLink}}"
     class="btn-primary btn-logo font-bold">
    <span>{{ linkData.content }}</span>
    <span class="material-symbols-outlined">{{ linkData.logo }}</span>
  </a>
</ng-template>

<ng-template #buttonLinkLogoBefore>
  <a routerLink="{{linkData.routeLink}}"
     class="btn-primary btn-logo font-bold">
    <span class="material-symbols-outlined">{{ linkData.logo }}</span>
    <span>{{ linkData.content }}</span>
  </a>
</ng-template>
