<section>
  <div class="container mx-auto py-10">
    <div class="grid grid-cols-8 items-center">
      <div class="col-span-3 col-start-2">
        <h1 class="text-primary font-semibold text-3xl">Agende mensagens rapidamente com o Timegram.</h1>
        <p class="text-xl">Envie <strong class="text-primary font-medium">Timegrams</strong>
          para seus amigos lerem somente quando você quiser.
        </p>
        <!--        <a routerLink="/cadastro" class="btn-primary btn-logo font-medium"><span>Fazer cadastro</span><span class="material-symbols-outlined">chevron_right</span></a>-->
        <app-link
          [linkData]="
          {
            content: 'Fazer cadastro',
            routeLink: '/cadastro',
            isButton: true,
            logo: 'chevron_right',
            logoPosition: 'after'
          }">
        </app-link>
      </div>
      <div class="col-span-3">
        <figure><img ngSrc="assets/img/networked-people.png" alt="" height="428" width="460" priority></figure>
      </div>
    </div>
  </div>
</section>
